@font-face {
    font-family: '975Maru SC';
    src: url('975MaruSC-Bold.woff2') format('woff2'),
        url('975MaruSC-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '975Maru SC';
    src: url('975MaruSC-Regular.woff2') format('woff2'),
        url('975MaruSC-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '975Maru SC';
    src: url('975MaruSC-Medium.woff2') format('woff2'),
        url('975MaruSC-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

